<!-- header-logo.liquid -->

<a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
  {%- if section.settings.logo != blank -%}
    <img srcset="{{ section.settings.logo | img_url: 'master' }}"
      src="{{ section.settings.logo | img_url: master }}"
      loading="lazy"
      class="header__heading-logo"
      alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
  {%- else -%}
    <span class="h2">{{ shop.name }}</span>
  {%- endif -%}
</a>