{{ 'rude-collection.css' | asset_url | stylesheet_tag }}

<div class="rude-collection page-width">
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
    <ul class="rude-rail">
        {%- for block in section.blocks -%}
            <li class="rude-rail-item {% if url == block.settings.collection.url%}active{% endif %}" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.collection.url }}" class="rude-link">
                    <div class="main-img">
                        <img
                                srcset="{%- if block.settings.advert_image.width >= 165 -%}{{ block.settings.advert_image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 330 -%}{{ block.settings.advert_image | img_url: '330x' }} 330w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 535 -%}{{ block.settings.advert_image | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 750 -%}{{ block.settings.advert_image | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 1000 -%}{{ block.settings.advert_image | img_url: '1000x' }} 1000w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 1500 -%}{{ block.settings.advert_image | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if block.settings.advert_image.width >= 3000 -%}{{ block.settings.advert_image | img_url: '3000x' }} 3000w{%- endif -%}"
                                src="{{ block.settings.advert_image | img_url: '1500x' }}"
                                sizes="
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                      (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                      calc(100vw - 3rem)"
                                alt="{{ block.settings.collection.title | escape }}"
                                loading="lazy"
                                class="motion-reduce"
                        >
                    </div>
                    <div class="hover-img">
                        <img
                                srcset="{%- if block.settings.hover_image.width >= 165 -%}{{ block.settings.hover_image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 330 -%}{{ block.settings.hover_image | img_url: '330x' }} 330w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 535 -%}{{ block.settings.hover_image | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 750 -%}{{ block.settings.hover_image | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 1000 -%}{{ block.settings.hover_image | img_url: '1000x' }} 1000w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 1500 -%}{{ block.settings.hover_image | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if block.settings.hover_image.width >= 3000 -%}{{ block.settings.hover_image | img_url: '3000x' }} 3000w{%- endif -%}"
                                src="{{ block.settings.hover_image | img_url: '1500x' }}"
                                sizes="
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                      (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                      calc(100vw - 3rem)"
                                alt="{{ block.settings.collection.title | escape }}"
                                loading="lazy"
                                class="motion-reduce"
                        >
                    </div>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</div>

{% schema %}
{
  "name": "Rude Collections",
  "tag": "section",
  "class": "collection-list-section",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.collection-list.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.collection-list.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.collection-list.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.collection-list.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.collection-list.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.collection-list.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "t:sections.collection-list.settings.image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "advert_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rude Collections",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
